* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 1;
}

.nav-bar {
    padding: 50px;
    text-align: center;
    background-color: lightslategrey;
    color: white;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.about-me{
    background-color: #fff;
    flex: 70%;
    padding: 20px;
    height: 250px;
    border: 2px solid lightseagreen;
}

aside{
    flex: 30%;
    background-color: #b9c6ae;
    padding: 20px;
    margin: 0;
    flex-wrap: wrap;
}

footer{
    padding: 20px;
    text-align: center;
    background: lightslategrey;
    color: #fff;
}

img{
    width: 400px;
    height: 300px;
}